<div class="tabs__content">
  <div id="tab-1" class="tabs__content-item active">
    <h3>Feature 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div id="tab-2" class="tabs__content-item">
    <form class="tabs__buttons">
      <div class="tabs-row">
        <div class="tabs__buttons-items">
          <div class="tabs__icon tabs__icon-green">
              <span>
                M
              </span>
          </div>
          <div class="tabs__input">
            <label for="value1">
              <input type="radio" id="value1" name='input1'>
              <span class="tabs__input-checkmark"></span>
              <span class="tabs__input-name">Merriweather project is led by Sorkin Type</span>
            </label>
          </div>
        </div>
      </div>
      <div class="tabs-row tabs--horizontal">
        <div class="tabs__buttons-items">
          <div class="tabs__icon tabs__icon-rose">
              <span>
                R
              </span>
          </div>
          <div class="tabs__input">
            <label for="value2">
              <input type="radio" id="value2" name='input1'>
              <span class="tabs__input-checkmark"></span>
              <span class="tabs__input-name">Merriweather project is led by Sorkin Type</span>
            </label>
          </div>
        </div>
        <div class="tabs__buttons-items">
          <div class="tabs__icon tabs__icon-blue">
              <span>
                NS
              </span>
          </div>
          <div class="tabs__input">
            <label for="value3">
              <input type="radio" id="value3" name='input1'>
              <span class="tabs__input-checkmark"></span>
              <span class="tabs__input-name">Merriweather project is led by Sorkin Type</span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>