{% include 'templates/header.twig' %}
<div class="tabs">
  <section class="tabs__inner">
    <div class="tabs__title">
      <h1>
        Please select one font
      </h1>
    </div>

    {% include 'templates/nav.twig' %}

  </section>

  {% include 'templates/tabs.twig' %}

</div>

{% include 'templates/footer.twig' %}
