// Colors

$white: #fff;
$gray: #bfcade;
$dark-gray: #212830;
$black: #000;
$orange: #ff520d;
$rose: #ff7fc2;
$green: #00a652;
$blue: #006dfe;

// Devices

$large-desktop: 1440px;
$desktop: 1247px;
$tablet: 1050px;
$mobile: 768px;
